@model List<wallet>
@{
    ViewData["Title"] = "ShowWallets";
}

<h1>ShowWallets</h1>
<table border="1">
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Cod</td>
            <td>@item.Symbols</td>
            <td>@item.Amount</td>
            <td>@item.walletName</td>
            <td>@item.Curse</td>
        </tr>
    }
</table>


